.quiz{
    /*border: 4px solid gray;*/
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    /*position: relative;*/
    width: 95vw;
}

.title{
    border-radius: 5px;
    background-color: royalblue;
    color: bisque;
    width: 70vw;
    padding: .3em 0 .3em 0;
    text-align: center;
    /*position: relative;*/
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightskyblue;
    border-radius: 10px;
    width: 70vw;
    height: 70vw;
}

.card{
    border-radius: 5px;
    background-color: bisque;
    margin: 0.5em;
    text-align: center;
}